// Menu: Header
// -----------------------------------------------------------------------------
.menu--header {

  a {
    background-color: $gray-light;
    color: white;
    border-color: $gray-light;
  }

}
