// Events
// -----------------------------------------------------------------------------
.view--roundearth-events-upcoming--page-1,
.view--roundearth-events-upcoming--page-2 {

  .view__row {

    + .view__row {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid $gray-lighter;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 140%;
    }

    .views-field-start-date {
      color: $gray-light;
    }
  }
}
