// Node: RoundEarth Content page Full
// -----------------------------------------------------------------------------
.roundearth-content-page {

  .roundearth-content-page__field-roundearth-media-banner {
    img {
      width: 100%;
      margin-bottom: .5em;
    }
  }

}


