// Search
// -----------------------------------------------------------------------------
.search-form {

  main & {
    display: none;
  }
}

.search-results {
  padding: 0 0 0 1rem;
  margin: 0;

  li {
    margin-top: 3rem;
  }
}
